.App {
  text-align: center;
  width: 100%;
  .app-slide {
    flex-direction: column;
    display: flex;
    align-items: center;
    .drink-label {
      width: 100%;
    }
  }
}

a {
  text-decoration: none;
}

.titlebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
// .app-slide {
//   background-color: #282c34;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }

// .text-btn {
//   cursor: pointer;
//   font-variant: small-caps;
//   color: white;
// }

// .text-btn:hover {
//   text-decoration: underline;
// }
