html {overflow: -moz-scrollbars-vertical;}

body {
	background: #FFFFFF;
	color: #3C3D3F;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
  margin: auto;
  max-width: 800px;
  text-align: center;
}

header{
    display:flex;
		flex-direction: column;
    justify-content: center;
}

header h1{
    margin: 0;
    padding-top:4px;
    width:100%;
    font-size:48px;
}

.subtitle{
	text-align: center;
}

.resultview{
	display: none;
}

footer{
    margin-top: 20px;
    text-align:center;
}
